@import '../common'
.login-container
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    background-color: $background-3
    width: 100vw
    color: white

    .title-container
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 20px

        h1
            margin: 0

        .material-icons
            font-size: 32px
            margin-left: 10px

    .login
        width: 300px
        display: flex
        flex-direction: column
        text-align: center

        p
            margin-bottom: 40px

        input, button
            margin-bottom: 10px
