.template-editor
    display: flex
    flex-direction: column
    width: 100%

    *
        margin-bottom: 10px

    .export-button
        width: 100%
        margin-bottom: 20px
        background-color: lightgreen
        padding: 20px 0
        text-align: center
        color: white
        border-radius: 10px
        border: 0
        cursor: pointer

    .variables-header
        display: flex
        align-items: center

        *
            margin: 0

    .variable-inputs-container
        display: flex
        align-items: center

        input
            flex: 1
            margin-right: 10px
