$background-0: hsla(0, 0%, 10%)
$background-1: hsla(0, 0%, 20%)
$background-2: hsla(0, 0%, 30%)
$background-3: hsla(0, 0%, 40%)
$primary: #6ea5ff
$success: #218c00
$error: #b00900

*
    font-family: 'Poppins', sans-serif

.hoverable
    transition: transform 250ms ease

    &:hover
        transform: scale(1.1)

button
    border: none
    background: none
    padding: 10px 20px
    border-radius: 3px
    text-align: center
    opacity: 1
    color: white
    font-size: 16px

    cursor: pointer
    transition: opacity 250ms ease

    &:focus
        outline: 2px solid $primary

    &:hover
        opacity: 0.6

    &.action
        background-color: $primary

input, textarea
    padding: 10px
    border-radius: 3px
    border: none

    &:focus
        outline: 2px solid $primary

body,
#root
    margin: 0
    width: 100vw
    height: 100vh
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center

.material-icons
    font-family: 'Material Icons'
    font-weight: normal
    font-style: normal
    font-size: 24px
    display: inline-block
    line-height: 1
    text-transform: none
    letter-spacing: normal
    word-wrap: normal
    white-space: nowrap
    direction: ltr

    -webkit-font-smoothing: antialiased
    text-rendering: optimizeLegibility

    -moz-osx-font-smoothing: grayscale

    font-feature-settings: 'liga'

    cursor: pointer

    &.disabled
        cursor: no-drop
        opacity: 0.5

.fade-enter
    opacity: 0

.fade-enter-active
    opacity: 1
    transition: opacity 200ms

.fade-exit
    opacity: 1

.fade-exit-active
    opacity: 0
    transition: opacity 200ms

.slide-up-enter
    transform: translate(0, 100%)

.slide-up-enter-active
    transform: translate(0, 0)
    transition: transform 200ms

.slide-up-exit
    transform: translate(0, 0)

.slide-up-exit-active
    transform: translate(0, 100%)
    transition: transform 200ms

@mixin fill-avaliable()
    width: -moz-available
    width: -webkit-fill-available
    width: fill-available

.react-hint
    padding: 5px
    position: absolute
    z-index: 9999
    cursor: default
    animation: 250ms fadeIn

    &__content
        padding: 5px
        border-radius: 5px
        background: $background-0
        color: white

    &:after
        content: ''
        width: 0
        height: 0
        margin: auto
        display: block
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        border: 5px solid transparent

    &--top:after
        top: auto
        border-bottom: none
        border-top-color: $background-0

    &--left:after
        left: auto
        border-right: none
        border-left-color: $background-0

    &--right:after
        right: auto
        border-left: none
        border-right-color: $background-0

    &--bottom:after
        bottom: auto
        border-top: none
        border-bottom-color: $background-0

    &--top
        margin-bottom: 10px

    &--left
        margin-right: 10px

    &--right
        margin-left: 10px

    &--bottom
        margin-top: 10px
